@charset "UTF-8";
.header__one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  position: relative;
}

.header__list {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 22px;
  margin: 10px 0 0 0;
  font-family: "ChocolateBox", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header__active {
  display: flex;
  align-items: center;
}

.header__active-one {
  padding-right: 30px;
}

.header__active-two {
  padding-right: 30px;
}

.header .search__hide {
  display: none;
}

.header__upsearch {
  display: none;
}

.header .upsearch__visible {
  display: block;
}

.header__input {
  width: 200px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #E2B024;
  background: #000000;
  padding: 0 0 0 20px;
}

.header__input:hover {
  background: #E2B024;
  border: #000000;
}

.header__btn {
  height: 37px;
  width: 50px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #E2B024;
  background: #000000;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.header__btn:hover {
  background: #E2B024;
  border: #000000;
}

.search__big {
  display: flex;
}

.container {
  max-width: 1171px;
  margin: 0 auto;
}

.register {
  display: none;
}

.register__pos {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.6);
}

.register__visible {
  display: block;
}

.register__block {
  position: relative;
  text-align: center;
  width: 250px;
  height: 270px;
  background: #000000;
  border: 1px solid #ffffff;
}

.register__block a:hover {
  color: #E2B024;
  border-bottom: 0;
  padding-bottom: 20px;
}

.register__reg {
  position: absolute;
  top: 150px;
  right: 39%;
}

.register__input {
  padding: 5px 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.register__btn {
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  background: #000000;
  border: 1px solid #E2B024;
  color: #ffffff;
  font-weight: 600;
}

.register__btn:hover {
  background: #E2B024;
  color: #000000;
}

.register__link {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}

.register__close {
  font-size: 19px;
  position: absolute;
  top: 5px;
  right: 12px;
}

.register__close:hover {
  cursor: pointer;
  color: #E2B024;
}

.login {
  display: none;
}

.login__on {
  position: absolute;
  top: 150px;
  right: 39%;
}

.login__visible {
  display: block;
}

.main {
  padding-top: 190px;
  text-align: center;
}

.main__uptitle {
  font-family: "ChocolateBox", sans-serif;
  font-size: 24px;
  padding-bottom: 28px;
}

.main__title {
  font-family: "ChocolateBox", sans-serif;
  font-size: 96px;
  padding-bottom: 28px;
}

.main__title-yellow {
  color: #E2B024;
}

.main__subtitle {
  max-width: 745px;
  margin: 0 auto;
  font-size: 16px;
  padding-bottom: 35px;
  line-height: 24px;
  font-weight: 300;
}

.main__text {
  font-size: 16px;
  padding-bottom: 15px;
}

.new {
  position: relative;
  background: #18191A;
  padding: 267px 0 267px 0;
}

.new__bigblock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new__uptitle {
  font-size: 20px;
  padding-bottom: 47px;
  letter-spacing: 0.35em;
}

.new__title {
  font-family: "ChocolateBox", sans-serif;
  font-size: 74px;
  color: #E2B024;
  padding-bottom: 12px;
}

.new__subtitle {
  font-size: 36px;
  padding-bottom: 52px;
}

.new__text {
  font-size: 18px;
  max-width: 526px;
  padding-bottom: 64px;
  line-height: 40px;
}

.new__btn {
  width: 233px;
  height: 69px;
  font-size: 24px;
  font-weight: 500;
}

.new__btn-one {
  background: #E2B024;
  color: #000000;
  border: none;
  margin-right: 60px;
}

.new__btn-one:hover {
  background: none;
  color: #ffffff;
  border: 1px solid #E2B024;
}

.new__btn-two {
  background: none;
  border-color: #E2B024;
  color: #ffffff;
}

.new__btn-two:hover {
  background: #E2B024;
  color: #000000;
  border: none;
}

.new__box {
  position: relative;
}

.new__box::after {
  content: '';
  position: absolute;
  right: 37%;
  top: 25%;
  width: 374px;
  height: 374px;
  border-radius: 50%;
  background: #E2B024;
}

.new__box::before {
  content: '';
  position: absolute;
  right: 9%;
  top: 17%;
  width: 478px;
  height: 478px;
  border: 8px solid #E2B024;
}

.new__img {
  position: inherit;
  top: -25px;
  right: 72%;
  z-index: 3;
  height: 756px;
  width: 210px;
}

.futured {
  padding-top: 151px;
  padding-bottom: 174px;
  text-align: center;
}

.futured__title {
  font-family: "ChocolateBox", sans-serif;
  font-size: 48px;
  padding-bottom: 89px;
}

.futured__search {
  max-width: 464px;
  margin: 0 auto;
  padding-bottom: 9px;
  font-size: 24px;
  border-bottom: 1px solid #FFFFFF;
}

.futured__link {
  padding-left: 36px;
  padding-right: 36px;
}

.futured__link:first-child {
  padding-left: 0;
}

.futured__link:last-child {
  padding-right: 0;
}

.futured__block {
  padding-top: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.futured__box {
  position: relative;
  width: 237px;
  height: 432px;
  padding-bottom: 89px;
  text-align: left;
}

.futured__box:after {
  content: '30% off';
  position: absolute;
  top: 23px;
  left: -62px;
  height: 21px;
  background: #E2B024;
  font-size: 14px;
  color: #000000;
  padding: 10px 10px;
  font-family: 'Poppins', sans-serif;
}

.futured__subtitle {
  font-family: "ChocolateBox", sans-serif;
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 18px;
}

.futured__price {
  font-size: 16px;
  color: #E2B024;
}

.futured__price-line {
  font-size: 24px;
  text-decoration: line-through;
}

.futured__more {
  font-size: 24px;
}

.size {
  height: 355px;
}

.review {
  position: relative;
  background: url(../image/review/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 154px;
  padding-bottom: 163px;
}

ц
.review:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.review__title {
  padding-bottom: 58px;
}

.review__name {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 31px;
  padding-top: 30px;
}

.review__text {
  max-width: 1060px;
  margin: 0 auto;
  font-size: 16px;
}

.offer {
  text-align: center;
  padding-top: 163px;
  padding-bottom: 170px;
}

.offer__title {
  padding-bottom: 130px;
}

.offer__box {
  height: 700px;
  position: relative;
}

.offer__img {
  width: 370px;
  height: 558px;
}

.offer__subtitle {
  position: absolute;
  bottom: 29%;
  left: 6%;
  font-size: 24px;
  text-transform: uppercase;
}

.offer__price {
  position: absolute;
  bottom: 21%;
  left: 6%;
  font-size: 36px;
  font-weight: 700;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background: #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #E2B024;
}

.swiper-slide-active img {
  height: 110%;
  width: 370px;
}

.events {
  padding-bottom: 158px;
}

.events__title {
  text-align: center;
  padding-bottom: 58px;
}

.events__block {
  height: 410px;
}

.events__box {
  display: flex;
  align-items: center;
  background: #18191A;
}

.events__main {
  padding-left: 30px;
}

.events__subtitle {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}

.events__subsubtitle {
  font-size: 18px;
  padding-bottom: 44px;
}

.events__text {
  width: 512px;
  padding-bottom: 45px;
}

.swiper-slide .events__box-active {
  opacity: 0;
}

.swiper-slide-active .events__box-active {
  opacity: 1;
}

.swiper-pos {
  position: relative;
}

.swiper-button-prev:after {
  content: '';
}

.events__left {
  position: absolute;
  left: -10%;
  width: 80px;
  height: 80px;
}

.events__left:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.events__right {
  position: absolute;
  right: -10%;
  width: 80px;
  height: 80px;
}

.events__right:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

.swiper-button-next:after {
  content: '';
}

.contact {
  padding-bottom: 150px;
}

.contact__title {
  text-align: center;
}

.contact__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact__text {
  font-size: 18px;
  padding-bottom: 77px;
  width: 466px;
  padding-right: 35px;
}

.contact__sv {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-bottom: 42px;
}

.contact__sv-pos {
  padding-right: 28px;
  font-size: 18px;
}

.contact__img {
  padding-right: 58px;
}

.contact__img:last-child {
  padding-right: 0;
}

.contact__form {
  position: relative;
}

.contact__input {
  width: 670px;
  height: 64px;
  margin-bottom: 29px;
  background: #000000;
  padding: 0;
  border: 1px solid #ffffff;
  font-size: 30px;
  color: #ffffff;
}

.contact__input-sub {
  position: absolute;
  left: 41px;
  top: 0;
  padding: 0 8px 0 8px;
  font-size: 24px;
  background: #000000;
}

.contact__input-sub-1 {
  top: -20px;
}

.contact__input-sub-2 {
  top: 76px;
}

.contact__input-sub-3 {
  top: 170px;
}

.contact__input-sub-4 {
  top: 266px;
}

.contact__input-big {
  height: 133px;
}

.contact__btn {
  margin-right: 0;
  height: 82px;
  font-size: 36px;
}

.letter {
  padding: 57px 0 63px 0;
  background: #18191A;
  text-align: center;
}

.letter__title {
  text-transform: uppercase;
  font-size: 48px;
  color: #E2B024;
  padding-bottom: 24px;
}

.letter__subtitle {
  font-size: 18px;
  padding-bottom: 69px;
}

.letter__form {
  display: flex;
  justify-content: center;
}

.letter__input {
  width: 540px;
  height: 64px;
  padding: 0;
  border: none;
  background: #000000;
  font-size: 18px;
  padding-left: 30px;
  color: #ffffff;
}

.letter__btn {
  width: 127px;
  height: 64px;
  padding: 0;
  margin-right: 0;
  font-size: 18px;
}

.footer {
  padding-top: 133px;
}

.footer__one {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 72px;
}

.footer__link {
  padding-bottom: 15px;
  font-size: 16px;
}

.footer__link-big {
  font-size: 24px;
  padding-bottom: 42px;
  text-transform: uppercase;
}

.footer__link-big a {
  color: #E2B024;
}

.footer__img {
  width: 24px;
  height: 24px;
}

.footer__icon {
  padding-bottom: 29px;
}

.footer-pos {
  padding-bottom: 24px;
}

.footer__two {
  padding-top: 22px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 44px;
  font-size: 16px;
}

body {
  color: #ffffff;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000000;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

input:hover, button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #E2B024;
  border-bottom: 1px solid #E2B024;
  padding-bottom: 10px;
  transition-duration: 100ms;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */