
.offer {
   text-align: center;
   padding-top: 163px;
   padding-bottom: 170px;

   &__title {
      padding-bottom: 130px;
   }

   &__box {
      height: 700px;
      position: relative;

   }

   &__img {
      width: 370px;
      height: 558px;
   }

   &__subtitle {
      position: absolute;
      bottom: 29%;
      left:6%;
      font-size: 24px;
      text-transform: uppercase;
   }
   
   &__price {
      position: absolute;
      bottom: 21%;
      left: 6%;
      font-size: 36px;
      font-weight: 700;
   }
}

.swiper-pagination-bullet {
   width: 20px;
   height: 20px;
   background: #ffffff;
   opacity: 1;
}

.swiper-pagination-bullet-active {
   background:  #E2B024;
}

.swiper-slide-active img {
   height: 110%;
   width: 370px;}

