
.offer {
   text-align: center;
   padding-top: 163px;

		&__title {
         padding-bottom: 130px;
		}

		// .offer__block

		&__block {
		}

		// .offer__box

		&__box {
		}

		// .offer__img

		&__img {
		}

		// .offer__subtitle

		&__subtitle {
		}

		// .offer__price

		&__price {
		}
}

